<div class="login-page" [@routerTransition]>
  <div class="row justify-content-md-center">
      <div class="col-md-4">
          <img src="assets/images/logo.png" width="150px" class="user-avatar" />
          <h1>GrabCab Admin</h1>
          <form role="form" [formGroup]="loginForm" (ngSubmit)="onLoggedin(loginForm.value)">
              <div class="form-content">
                  <div class="form-group">
                      <input type="text" formControlName="username" ngModel ngControl class="form-control input-underline input-lg" id="" placeholder="Email">
                  </div>

                  <div class="form-group">
                      <input type="password" formControlName="password" ngModel ngControl class="form-control input-underline input-lg" id="" placeholder="Password">
                  </div>
              </div>
              <!-- <a class="btn rounded-btn"  (click)="onLoggedin()"> Log in </a> -->
              <input class="rounded-btn" type="submit" value="Login">
              <!-- &nbsp; -->
              <!-- <a class="btn rounded-btn" [routerLink]="['/signup']">Register</a> -->
          </form>
      </div>
  </div>
</div>
