//@media screen and (max-width: 992px) {
    .push-right {
        .sidebar {
            //left: 235px !important;
            left: 0px !important;
        }
        .main-container{
            margin-left: 0px !important;
        }
    }
//}

@media screen and (max-width: 992px) {
    .push-right {
        .sidebar {
            left: 235px !important;
            //left: 0px !important;
        }
    }
}