.modal-dialog{
    .modal-content{
        .modal-header{
            background: #1C6CA9;
            .modal-title{
                color: #fff;
            }
            button{
                color: #fff;
            }
        }
        .modal-body{
            max-height: 66vh;
            overflow: scroll;
            overflow-x: hidden;
            table{
                border-radius: 4px;
                display: table;
            }
            fieldset{
                .radio-inline{
                    input{
                        display: inline-block;
                        vertical-align: unset;
                        margin-right: 6px;
                        margin-left: 6px;
                    }
                }
                > input{
                    text-transform: capitalize;
                }
            }
            .submitBtnDiv{
                display: flex;
                width: 100%;
                margin-top: 30px;
                justify-content: center;
                align-items: center;
                button{
                    width: 40%;
                    height: 44px;
                    margin: 0px 3%;
                    max-width: 320px;
                }
            }
        }
        .modal-body::-webkit-scrollbar {
            width: 10px;
        }
        /* width */
        .modal-body::-webkit-scrollbar {
            width: 10px;
        }
    
        /* Track */
        .modal-body::-webkit-scrollbar-track {
            background: #f1f1f1; 
        }
    
        /* Handle */
        .modal-body::-webkit-scrollbar-thumb {
            background: #999; 
        }
    
        /* Handle on hover */
        .modal-body::-webkit-scrollbar-thumb:hover {
            background: #ccc; 
        }
        .modal-footer{
            text-align: center;
            button{
                display: inline-block;
                vertical-align: middle;
                margin: 5px auto;
                width: 120px;
            }
        }
    }
}

.mainDiv{
    width: 100%;
    height: 100%;
    display: table;
    .childDiv{
        height: 100%;
        display: table-cell;
        vertical-align: middle;
    }
}
fieldset{
    .sellerViewDiv .deldateBtn{
        margin-bottom: 6px;
    }
    div.addSellerDiv{
        position: relative;
        input.form-control{
            width: 100%;
            padding-right: 66px;
        }
        button{
            position: absolute;
            top: 0px;
            right: 0px;
        }
    }
}
.latLongDiv{
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 15px;
    margin-bottom: 15px;    
    fieldset{
        margin-bottom: 0px;
        width: 40%;
    }
}
.modal-backdrop { z-index:1050; }

.mapModal{
    .modal-body{
        .mapDiv{
            min-height: 50vh;
            agm-map {
                height: 50vh;
            }
        }
    }
}
@media screen and (min-width: 576px){
    .modal-dialog{
        max-width: 70%;
    }
}

@media screen and (max-width: 1024px){
    .latLongDiv{
        display: block;
        fieldset{
            width: 100%;
            margin-bottom: 15px;
        }
    }
}