<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
  <div class="list-group">
      <a [routerLink]="['/home']" [routerLinkActive]="['router-link-active']" class="list-group-item">
          <i class="fa fa-home"></i>&nbsp; Home
      </a>
  </div>
</nav>
